<h1>Data Preparation</h1>

<h2>Section 1 - Filtering and selecting data</h2>

In [1]:
# Importing numpy and pandas libraries for data manipulation
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

<h3>Selecting and retreiving data</h3>
<p>An idex can be:</p>
<ul>
    <li>Label index</li>
    <li>Integer index</li>
</ul>

In [2]:
series = Series(np.arange(8), index=['column 1','row 2','row 3','row 4','row 5','row 6','row 7','row 8'])
series

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int32

In [4]:
series['row 2']

1

In [3]:
series[[0,7]]

row 1    0
row 8    7
dtype: int32

In [6]:
np.random.seed(25)
df = DataFrame(np.random.rand(36).reshape((6,6)),
                index=['row 1','row 2','row 3','row 4','row 5','row 6'],
                columns=['column 1','column 2','column 3','column 4','column 5','column 6'])
df

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [7]:
df.loc[['row 2', 'row 5'], ['column 5', 'column 2']]

       column 5  column 2
row 2  0.402366  0.437611
row 5  0.421004  0.559053

<h3>Data Slicing</h3>

In [8]:
series['row 2':'row 7']

row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
dtype: int32

<h3>Comparison with scalars</h3>

In [9]:
df < .2

       column 1  column 2  column 3  column 4  column 5  column 6
row 1     False     False     False      True     False      True
row 2     False     False     False     False     False      True
row 3     False     False      True     False     False     False
row 4     False     False     False     False     False     False
row 5     False     False      True     False     False     False
row 6     False     False     False     False     False     False

<h3>Setting values with scalars</h3>

In [ ]:
series['row 1', 'row 5', 'row 8'] = 8
series